body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		#bg{
			background-repeat: no-repeat;  
			background-size: cover;
			background-size: 1800px 900px;
		}
		.user_card {
			width: 440px;
			margin-top: auto;
			margin-bottom: auto;
			background: #00000014;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
            height: 85vh;

		}

		.form_container {
			margin-top: 50px;
		}

		#form-title{
			color: #000;
            font-weight: bold;

		}

		.login_btn {
			width: 100%;
			background: #eeaf1c !important;
            color: black !important;
			font-family: courier;
            font-weight: bold;
			font-size: 111%;
		}

		.home_btn {
			width: 100%;
			background:dimgrey !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #000 !important;
            color: #eeaf1c !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}