{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% load static %}
{%block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/add.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<linkhref="https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap" rel="stylesheet"/>

{% endblock head %} {% block body %}
<body
  background="{% static 'images/ist.jpg' %}"
  style="
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  "
>
  {% include 'navbar.html' %} 
  {% if messages %} 
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %} {% endif %}

  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card" style="width:950px">
        <div class="d-flex justify-content-center">
          <h3 id="form-title" style="font-size: 2.75rem">Edit Profile</h3>
        </div>
        <div class="d-flex justify-content-center form_container" style="color: #106186">
          <form method="POST" action="" enctype="multipart/form-data" style="width: 60vw">
            {% csrf_token %} 
            {{form|crispy}}
            <br>
            <button class="btn btn-lg" style=" color: #fff9f9; background-color: #106186;border-color: #106186; ">Update Profile</button>
          </form>
        </div>
      </div>
    </div>
    
    {% endblock body %}
  </div>
</body>
